{% extends '::container.html.twig' %}
{% block title %}
{{ site_name }} tutorials
{% endblock %}

{% block mainspan %}
<h1>Tutorials <small>Learn how to use {{site_name}}</small></h1>

<div class="row-fluid">
    <div id="cb_cf" data-sketch="3" data-sections="usbflash"></div>
    <h3>Walkthrough Video!</h3>
	<p>Interested in codebender? Get a quick preview of the features we offer in the video below. You will learn how to use codebender to code, flash and collaborate with others. Don't worry, it's short.</p>
    <iframe src="http://player.vimeo.com/video/54210291?badge=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/54210291">codebender tutorial</a> from <a href="http://vimeo.com/user14870685">codebender</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
    <h3>Plugin Tutorial!</h3>
    <p>We're really happy to announce that we now have a tutorial to help you add the browser plugin to your favorite browser. Check it out below.</p>
    <iframe src="http://player.vimeo.com/video/55899039?badge=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/54210291">codebender tutorial</a> from <a href="http://vimeo.com/user14870685">codebender</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
</div>

{% endblock %}
