<div class="modal hide fade" id="creationModal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>New File</h3>
    </div>
    <div class="modal-body span5">
        <p>Enter the name of the new file you'd like to create.</p>
        <input type="text" id="createfield"/>
    </div>
    <div class="modal-footer">
        <a data-dismiss="modal" class="btn">Cancel</a>
        <button id="createbutton" class="btn btn-primary" onclick="createFile();">Create File</button>
    </div>
</div>
